<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <form method="post" enctype="multipart/form-data" >
       {% csrf_token %}
        {{uf.as_p}}
        <input type="submit" name="" value="ok">
    </form>

   
   <form method="POST"> 
       <input type="text" name="username" value="">
       <input type="password" name="password" value="">
       <input type="submit" name="" value="ok">
   </form>
    </body>
</html>