<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    {{ mot }}

    <table>
        {% for line in user_list %}
        <tr>
            <td>
                {{line.name}}
            </td>
            <td>
                {{line.email}}
            </td>
        </tr>
        {% endfor %}
    </table>
    </body>
</html>